* {
  box-sizing: border-box;
}

:root {
  /* Primary */
  --blue-body-bg: hsl(217, 28%, 15%);
  --blue-main-bg: hsl(218, 28%, 13%);
  --blue-footer-bg: hsl(216, 53%, 9%);
  --blue-opinions-bg: hsl(219, 30%, 18%);

  /* Hover */
  --cyan-action-gradient: hsl(176, 68%, 64%);
  --blue-action-gradient: hsl(198, 60%, 50%);
  --light-red-error: hsl(0, 100%, 63%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--blue-body-bg);
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  justify-content: space-between;
}
.header__logo-container {
  line-height: 0;
  width: 30%;
}

.list {
  display: flex;
  list-style: none;
}
.list__item {
  color: inherit;
  display: block;
  text-decoration: none;
}
li:not(:last-child) .list__item {
  margin-right: 1.5em;
}

.started-wrapper {
  background-image: url("../assets/img/bg-curvy-mobile.svg");
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: contain;
}

.started {
  padding: 2rem;
  margin: 0px auto;
  text-align: center;
  max-width: 1100px;
}

.started__title {
  font-size: 1.7em;
  line-height: 1.5em;
}

.started__subtitle {
  line-height: 1.5em;
  font-size: 1.1em;
  font-weight: 400;
}

.started__link {
  background-image: linear-gradient(
    90deg,
    var(--cyan-action-gradient) 1%,
    var(--blue-action-gradient) 99%
  );
  border-radius: 20px;
  color: inherit;
  display: block;
  font-weight: 700;
  margin-top: 1.5em;
  padding: 1em;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
}

.main {
  background-color: var(--blue-main-bg);
}

.cards {
  display: grid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 85%;
}

.card {
  margin-top: 5em;
}

.card__img-container {
  line-height: 0;
}

.card__desc {
  line-height: 1.5em;
  font-weight: 400;
}

.productive {
  display: flex;
  flex-direction: column;
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1270px;
  width: 85%;
}

.productive__title {
  font-size: 1.4em;
}

.productive__link {
  border-bottom: 2px solid var(--cyan-action-gradient);
  border-radius: 2px;
  color: var(--cyan-action-gradient);

  padding-bottom: 0.3em;
  text-decoration: none;
  width: 50%;
}

.productive__arrow-container {
  vertical-align: middle;
}

.opinions {
  background-image: url("../assets/img/bg-quotes.png");
  background-size: 30px;
  background-position-y: top;
  background-position-x: 3%;
  background-repeat: no-repeat;
  display: grid;
  grid-gap: 2em;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  padding-top: 1.8em;
  max-width: 1200px;
  width: 80%;
}

.opinion {
  background-color: var(--blue-opinions-bg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.178);
  border-radius: 0.4em;
  padding: 2rem 1.4rem;
}

.opinion__desc {
  line-height: 1.5em;
}
.opinion__attribution {
  align-items: center;
  display: flex;
}

.opinion__img-container {
  border-radius: 50%;
  line-height: 0;
  overflow: hidden;
  width: 15%;
}

.opinion__names-container {
  margin-left: 0.8em;
}

.opinion__name {
  letter-spacing: 1.5px;
  font-size: 0.9em;
  margin-bottom: 0;
}
.opinion__job {
  font-size: 0.7em;
  margin-top: 0.7em;
  letter-spacing: 1px;
}

.register {
  background-color: var(--blue-body-bg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
  border-radius: 0.4em;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  position: relative;
  top: 10em;
  max-width: 800px;
  text-align: center;
  width: 90%;
}

.register__title {
  font-size: 1.3rem;
}
.register__desc {
  line-height: 1.5rem;
}

.form-register {
  flex-direction: column;
  display: flex;
  margin-top: 1.4em;
}

.form-register__error {
  margin-left: 1rem;
  color: var(--light-red-error);
  margin-bottom: 0;
}

.form-register__item:first-child {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}

.form-register__input,
.form-register__submit {
  border: none;
  outline: none;
  border-radius: 2em;
  padding: 15px 23px;
  width: 100%;
}

.form-register__input::placeholder {
  color: rgba(0, 0, 0, 0.466);
}

.form-register__submit {
  background-image: linear-gradient(
    90deg,
    var(--cyan-action-gradient) 1%,
    var(--blue-action-gradient) 99%
  );
  color: var(--white);
  font-weight: 700;
  margin-top: 1.5em;
}

.footer {
  background-color: var(--blue-footer-bg);
  padding: 14em 2em 2em 2em;
  font-size: 1.1em;
}

.footer__img-container,
.footer__contact {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}
.footer__contact {
  display: grid;
}

.footer__location,
.footer__about,
.footer__social {
  list-style: none;
  margin-top: 2rem;
}

.footer__location,
.footer__about {
  display: flex;
  flex-direction: column;
}

.location,
.tel,
.email {
  align-items: flex-start;
  display: flex;
}
.location__img,
.tel__img,
.email__img {
  margin-top: 0.5em;
}
.location__desc,
.tel__desc,
.email__desc {
  line-height: 1.5rem;
  margin-top: 0;
  margin-left: 1em;
  text-decoration: none;
  color: inherit;
}

.tel,
.email {
  align-items: center;
  margin-bottom: 1em;
}

.footer__desc {
  line-height: 2rem;
  color: inherit;
  text-decoration: none;
}

.footer__social {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 50%;
}

.social__item {
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: inherit;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 1.1em;
  text-decoration: none;
  height: 20px;
  width: 20px;
}

@media screen and (min-width: 768px) {
  .list__item {
    font-size: 1.1rem;
  }

  .started-wrapper {
    background-image: url("../assets/img/bg-curvy-desktop.svg");
  }
  .started {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .cards {
    align-items: baseline;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
  }

  .productive {
    align-items: center;
    flex-direction: row;
  }
  .productive__desc {
    margin-left: 1.5rem;
  }

  .productive__title {
    font-size: 4ch;
  }

  .opinions {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__contact {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__about {
    align-items: center;
    justify-content: stretch;
  }

  .footer__social {
    grid-column: 1/-1;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 2rem 3rem;
    margin: 0px auto;
    max-width: 1300px;
  }

  .list__item:hover {
    font-weight: 700;
    text-decoration: underline;
  }

  .started__title,
  .started__subtitle {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }

  .started__title {
    font-size: 2.5em;
  }

  .started__subtitle {
    font-size: 1.7em;
  }

  .started__link {
    border-radius: 40px;
    font-size: 1.2em;
    width: 300px;
  }

  .started__link,
  .form-register__submit {
    transition: transform 0.3s linear, box-shadow 0.3s linear;
  }
  .started__link:hover,
  .form-register__submit:hover {
    background-image: none;
    background-color: rgb(139, 237, 227);
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  }

  .card__title {
    font-size: 1.4em;
  }

  .card__desc {
    font-size: 1.2em;
  }

  .productive__link {
    transition: border-bottom 0.3s linear, color 0.3s linear;
  }

  .productive__link:hover {
    border-bottom: 2px solid var(--white);
    color: var(--white);
  }

  .productive__link:hover .productive__arrow {
    stroke: var(--white);
    fill: var(--white);
  }
  .opinions {
    background-position-x: -1px;
    background-size: 45px;
    grid-template-columns: repeat(3, 1fr);
  }

  .register {
    padding: 50px;
  }
  .form-register {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .form-register__submit {
    cursor: pointer;
    margin-top: 0;
  }

  .footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .tel:hover,
  .email:hover,
  .footer__desc:hover {
    font-weight: 700;
  }

  .social__item {
    transition: border 0.3s linear, color 0.3s linear;
  }

  .social__item:hover {
    border: 1px solid var(--cyan-action-gradient);
    color: var(--cyan-action-gradient);
  }
}

@media screen and (min-width: 1440px) {
  .card__title {
    font-size: 1.8em;
  }

  .card__desc {
    font-size: 1.4em;
  }

  .productive__desc {
    margin-right: auto;
    max-width: 600px;
  }

  .productive__title {
    font-size: 2.9em;
    max-width: 500px;
  }

  .productive__comments,
  .productive__link {
    font-size: 1.3em;
  }

  .opinion__desc {
    font-size: 1.2em;
  }

  .register__title {
    font-size: 2em;
  }

  .footer__contact {
    grid-template-columns: 4fr repeat(3, 1fr);
  }

  .footer__location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .location {
    align-items: center;
    grid-row: 1 / span 3;
  }
  .email {
    grid-column: 2/-1;
    grid-row: 2/2;
  }

  .footer__about {
    align-items: flex-start;
  }
  .footer__social {
    grid-column: auto;
  }
}
