* {
  box-sizing: border-box;
}

:root {
  /* Primary */
  --blue-body-bg: hsl(217, 28%, 15%);
  --blue-main-bg: hsl(218, 28%, 13%);
  --blue-footer-bg: hsl(216, 53%, 9%);
  --blue-opinions-bg: hsl(219, 30%, 18%);

  /* Hover */
  --cyan-action-gradient: hsl(176, 68%, 64%);
  --blue-action-gradient: hsl(198, 60%, 50%);
  --light-red-error: hsl(0, 100%, 63%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--blue-body-bg);
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  justify-content: space-between;
}
.header__logo-container {
  line-height: 0;
  width: 30%;
}

.list {
  display: flex;
  list-style: none;
}
.list__item {
  color: inherit;
  display: block;
  text-decoration: none;
}
li:not(:last-child) .list__item {
  margin-right: 1.5em;
}

.started {
  background-image: url("../assets/img/bg-curvy-mobile.svg");
  background-position: bottom center;
  background-repeat: repeat-x;
  padding: 2rem;
  margin: 0px auto;
  text-align: center;
}

.started__title {
  font-size: 1.7em;
  line-height: 1.5em;
}

.started__subtitle {
  line-height: 1.5em;
  font-size: 1.1em;
  font-weight: 400;
}

.started__link {
  background-image: linear-gradient(
    90deg,
    var(--cyan-action-gradient) 1%,
    var(--blue-action-gradient) 99%
  );
  border-radius: 20px;
  color: inherit;
  display: block;
  font-weight: 700;
  margin-top: 1.5em;
  padding: 1em;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.main {
  background-color: var(--blue-main-bg);
}

.cards {
  display: grid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.card {
  margin-top: 5em;
}

.card__desc {
  line-height: 1.5em;
  font-weight: 400;
}

.productive {
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.productive__link {
  border-bottom: 2px solid var(--cyan-action-gradient);
  border-radius: 2px;
  color: var(--cyan-action-gradient);

  padding-bottom: 0.3em;
  text-decoration: none;
  width: 50%;
}

.productive__arrow {
  margin-left: 0.3em;
  border-radius: 50%;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-color: var(--cyan-action-gradient);
  color: var(--blue-footer-bg);
}

.opinions {
  background-image: url("../assets/img/bg-quotes.png");
  background-size: 10%;
  background-position-y: top;
  background-position-x: 3%;
  background-repeat: no-repeat;
  display: grid;
  grid-gap: 2em;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  padding-top: 1.8em;
  width: 80%;
}

.opinion {
  background-color: var(--blue-opinions-bg);
  border-radius: 0.4em;
  padding: 2rem 1.4rem;
}

.opinion__attribution {
  align-items: center;
  display: flex;
}

.opinion__img-container {
  border-radius: 50%;
  line-height: 0;
  overflow: hidden;
  width: 15%;
}

.opinion__names-container {
  margin-left: 0.8em;
}

.opinion__name {
  letter-spacing: 1.5px;
  font-size: 0.9em;
  margin-bottom: 0;
}
.opinion__job {
  font-size: 0.7em;
  margin-top: 0.7em;
  letter-spacing: 1px;
}

.register {
  background-color: var(--blue-body-bg);
  border-radius: 0.4em;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  position: relative;
  top: 10em;
  text-align: center;
  width: 90%;
}

.register__title {
  font-size: 1.3rem;
}
.register__desc {
  line-height: 1.5rem;
}

.form-register {
  flex-direction: column;
  display: flex;
}

.form-register__input,
.form-register__submit {
  border: none;
  outline: none;
  border-radius: 2em;
  padding: 1.3em;
}

.form-register__input::placeholder {
  color: rgba(0, 0, 0, 0.466);
}

.form-register__submit {
  background-image: linear-gradient(
    90deg,
    var(--cyan-action-gradient) 1%,
    var(--blue-action-gradient) 99%
  );
  color: var(--white);
  font-weight: 700;
  margin-top: 1.5em;
}

.footer {
  background-color: var(--blue-footer-bg);
  padding: 14em 2em 2em 2em;
  font-size: 1.1em;
}

.footer__location,
.footer__about,
.footer__social {
  list-style: none;
  margin-top: 2rem;
}

.footer__location,
.footer__about {
  display: flex;
  flex-direction: column;
}

.location,
.tel,
.email {
  align-items: flex-start;
  display: flex;
}
.location__img,
.tel__img,
.email__img {
  margin-top: 0.5em;
}
.location__desc,
.tel__desc,
.email__desc {
  line-height: 1.5rem;
  margin-top: 0;
  margin-left: 1em;
  text-decoration: none;
  color: inherit;
}

.tel,
.email {
  align-items: center;
  margin-bottom: 1em;
}

.footer__desc {
  line-height: 2rem;
  color: inherit;
  text-decoration: none;
}

.footer__social {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 50%;
}

.social__item {
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: inherit;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 1.1em;
  text-decoration: none;
  height: 20px;
  width: 20px;
}
